/* .container{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
    min-width: 200px;
    min-height: 150px;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-size {
    width: 100%;
    max-width: 90px;
}

.nav-links {
    display: flex;
    margin-right: 70px;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 0px !important;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .nav-links {
        margin-right: 0px !important;
    }
}

.nav-links li {
    list-style: none;
    padding: 5px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.logo-letters {
    margin-top: 20px
}

.input {
    margin: 10px;
}

.label {
    display: block;
    font-size: 1em;
    color: #000000;
    margin-bottom: 2px;
}

input {
    font-size: 1em;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: lightgray !important;
    width: 100%;
    max-width: 300px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.hidden {
    display: none;
}